<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>622556747363-tnfpgaqmi38kjbnouvt2lroml8bnmouu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622556747363-tnfpgaqmi38kjbnouvt2lroml8bnmouu</string>
	<key>API_KEY</key>
	<string>AIzaSyCujcZ36y27V4zqqCs1MTGsQVXIvRtEvUM</string>
	<key>GCM_SENDER_ID</key>
	<string>622556747363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robingarg.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e1fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e1fd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622556747363:ios:6c3c713f0d13b1c6</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-e1fd2.firebaseio.com</string>
</dict>
</plist>